# Introduction to Uncovered Interest Rate Parity: Empirical Study with Linear Regression

Uncovered Interest Rate Parity (UIP) is a fundamental concept in international finance, suggesting that the difference in interest rates between two countries should equal the expected change in exchange rates between their currencies. In theory, this means that investors cannot gain an arbitrage advantage by switching between currencies since the future exchange rate should adjust to offset interest rate differentials. However, whether UIP holds in practice remains a subject of debate, especially considering real-world factors such as investor behavior and market conditions.

This project aims to empirically test the validity of UIP using linear regression models. The analysis will be grounded in the examination of secured and unsecured risk-free rates, specifically focusing on the following indices:

- **SOFR (Secured Overnight Financing Rate)**: A U.S. secured rate widely used in financial markets.
- **CORRA (Canadian Overnight Repo Rate Average)**: A secured Canadian rate reflecting the overnight lending market.
- **ESTER (Euro Short-Term Rate)**: A Eurozone unsecured rate, providing insight into short-term European market trends.
- **SONIA (Sterling Overnight Index Average)**: An unsecured rate from the U.K., representing overnight funding costs.
- **SARON (Swiss Average Rate Overnight)**: A Swiss secured rate frequently used in financial instruments.
- **TONAR (Tokyo Overnight Average Rate)**: A Japanese unsecured rate tracking overnight transactions in the Japanese market.
- **SORA (Singapore Overnight Rate Average)**: An unsecured rate from Singapore, offering insights into Southeast Asian financial conditions.

By incorporating these diverse rates sourced from reputable financial institutions such as the Bank of Japan and the Federal Reserve, this study seeks to evaluate the practical applicability of UIP. Data will be meticulously gathered using a Bloomberg Terminal, allowing for real-time analysis and economic research. The utilization of both secured and unsecured risk-free rates will provide a comprehensive view, enriching the overall analysis of global interest rate dynamics. 

Through this project, the goal is to identify whether UIP holds across various currencies and interest rates, examining the potential deviations and underlying reasons for any discrepancies found. The insights gathered will not only contribute to academic understanding but will also have practical implications for investors and policymakers navigating the complexities of international finance. **This paper seeks to add to the existing body of literature on Uncovered Interest Rate Parity (UIP) by focusing on risk-free rates, as historically, rates like LIBOR have been used, which are now widely considered unsuitable due to concerns over transparency and reliability.**

# Information Gathering Stage

The first phase of the project focuses on gathering accurate and reliable data for an empirical study of Uncovered Interest Rate Parity (UIP). This stage is critical, as the quality and timeliness of the data collected will directly influence the validity of the results. The main objectives of this phase are to source historical data on various risk-free rates and currency exchange rates, ensuring that the information is consistent and representative of real-world financial markets. 

### Key Steps in the Information Gathering Stage:

1. **Identification of Relevant Indices**:
   - The study will analyze both secured and unsecured risk-free rates across several key financial markets. The indices selected for this study include:
     - **SOFR (Secured Overnight Financing Rate)** - U.S. based secured rate
     - **CORRA (Canadian Overnight Repo Rate Average)** - Canadian secured rate
     - **ESTER (Euro Short-Term Rate)** - Eurozone unsecured rate
     - **SONIA (Sterling Overnight Index Average)** - U.K. unsecured rate
     - **SARON (Swiss Average Rate Overnight)** - Swiss secured rate
     - **TONAR (Tokyo Overnight Average Rate)** - Japanese unsecured rate
     - **SORA (Singapore Overnight Rate Average)** - Southeast Asian unsecured rate

2. **Data Sourcing from Reputable Financial Institutions**:
   - To ensure data reliability, all historical interest rates and exchange rates will be sourced from trusted financial institutions, including:
     - **Federal Reserve** for both SOFR and SONIA data
     - **Bank of Canada** for CORRA data
     - **European Central Bank** for ESTER/€STR figures
     - **Monetary Authority of Singapore (MAS)** for SORA figures

3. **Utilization of Bloomberg Terminal for Data Collection**
   - In addition to sourcing data from reputable financial institutions, a Bloomberg Terminal will be utilized to access up-to-date and historical data for the indices that are not directly available through these institutions. This includes data for:

      - **SARON (Swiss Average Rate Overnight)**
      -   **TONAR (Tokyo Overnight Average Rate)**
      - **SORA (Singapore Overnight Rate Average)**

   The Bloomberg Terminal provides a comprehensive database for economic indicators, interest rates, and exchange rates, ensuring high accuracy in data collection. 

   Key metrics collected using the terminal will include:

   - Historical values of the interest rates for each index.



4. **Data Validation and Consistency Checks**:
   - The collected data will undergo thorough validation checks to ensure consistency across different sources and to eliminate any potential anomalies or gaps in the dataset. This includes cross-referencing with public financial reports, central bank publications, and market analyses.

5. **Organizing and Structuring Data for Analysis**:
   - Once validated, the data will be structured into a format suitable for statistical analysis, particularly for linear regression models. This will involve organizing interest rate differentials, matching them with corresponding periods of exchange rate changes, and preparing datasets that distinguish between secured and unsecured rates.

By the end of this stage, a comprehensive dataset will be ready for analysis, providing the foundation for testing the UIP hypothesis using robust empirical methods.

# Comparison of Risk Free Rates

| **Index** | **Convention** | **Earliest Available Data** | **Secured/Unsecured** |
|-----------|----------------|-----------------------------|-----------------------|
| SOFR      | Actual/360      | April 3rd, 2018             | Secured               |
| CORRA     | Actual/365      | August 12th, 1997           | Secured               |
| ESTER     | Actual/360      | October 1st, 2019           | Unsecured             |
| SONIA     | Actual/365      | Jan 2nd, 1997               | Unsecured             |
| SARON     | Actual/360      | June 21st, 1999             | Secured               |
| TONAR     | Actual/365      | Oct 9th, 1992               | Unsecured             |
| SORA      | Actual/365      | July 1st, 2005              | Unsecured             |

*Table 1: Comparison of Indices*

### Section A: The USA and Canada - A Preliminary Analysis of SOFR and CORRA

I will begin the UIP analysis by focusing on the USA and Canada as an initial case study. The Secured Overnight Financing Rate (SOFR) for the United States and the Canadian Overnight Repo Rate Average (CORRA) for Canada provide secured overnight rates, making them suitable for analysis over periods extending up to long periods of time. However, the earliest historical data for SOFR is only available since April 3rd, 2018, which will be a bottleneck for comparison and limit the analysis to the last 5 years. One additional key difference is their day-count conventions: SOFR operates on an Actual/360 basis, while CORRA uses an Actual/365 basis.

Due to this, I will use the SOFR and CORRA indexes to eliminate day count conversions as a potential issue for accurate comparison. With this adjustment, both SOFR and CORRA can be analyzed reliably across various time intervals (1-week, 4-week, 3-month, 1-year, 3- year, and 5-year) as part of this preliminary UIP analysis. While the SOFR index was published alongside SOFR rate in April 2018, the CORRA index was nopt published until June of 2020, which is when the Bank of Canada took control of the rate from Refinitiv Benchmark Services (UK) Limited.

Due to this, the CORRA Index will be calculated manually using historical data, by using the calcualtion methodology on the website.

In [1]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.10f}'.format

In [2]:
corra_df = pd.read_csv(
    'data/CORRA.csv', 
    skiprows=27,
    converters={
        'data': lambda x: x.strip('"'), 
        'AVG.INTWO': lambda x: x.strip('"')
    }
)

corra_df['CORRA'] = corra_df['AVG.INTWO'].astype(float)
corra_df['DATE'] = pd.to_datetime(corra_df['date'])

corra_df = corra_df[['DATE', 'CORRA']]
corra_df

           DATE        CORRA
0    1997-08-12 3.2500000000
1    1997-08-18 3.3000000000
2    1997-08-19 3.2600000000
3    1997-08-20 3.3450000000
4    1997-08-21 3.3850000000
...         ...          ...
6809 2024-11-12 3.8000000000
6810 2024-11-13 3.8000000000
6811 2024-11-14 3.7900000000
6812 2024-11-15 3.7900000000
6813 2024-11-18 3.7900000000

[6814 rows x 2 columns]

In [3]:
import pandas as pd
import numpy as np


def return_corra_index(start_date, end_date):
    initial_value = 1 # Starting index value

    # Filter CORRA_df to the selected date range
    corra_df_filtered = corra_df[(corra_df['DATE'] >= pd.to_datetime(start_date)) & (corra_df['DATE'] <= pd.to_datetime(end_date))]
    corra_df_filtered = corra_df_filtered.reset_index(drop=True)

    compounded_index = initial_value

    table_data = []
    for i in range(len(corra_df_filtered)):
        corra_rate = corra_df_filtered.loc[i, 'CORRA'] / 100  # Convert CORRA rate to a decimal (0.25% = 0.0025)
        current_date = corra_df_filtered.loc[i, 'DATE']

        # Calculate n_i (calendar days to the next business day)
        if i < len(corra_df_filtered) - 1:
            next_date = corra_df_filtered.loc[i + 1, 'DATE']
            n_i = (next_date - current_date).days
        else:
            n_i = 1  # For the last date, set n_i to 1 as there’s no next business day

        # Calculate the daily factor
        daily_factor = 1 + (corra_rate * n_i / 365)
        compounded_index *= daily_factor


        table_data.append({
            'Date': current_date,
            'CORRA Rate (%)': corra_df_filtered.loc[i, 'CORRA'],
            'corra_n_i': n_i,
            'corra_daily_factor': daily_factor,
            'corra_compounded_index': compounded_index
        })

    compounded_table = pd.DataFrame(table_data)
    compounded_table['corra_compounded_index'] = compounded_table['corra_compounded_index'].shift(1)
    compounded_table.loc[0, 'corra_compounded_index'] = 1.0

    return compounded_table



compounded_table = return_corra_index('2020-06-10', '2024-06-11')

compounded_table.head(10)

,Date,CORRA Rate (%),corra_n_i,corra_daily_factor,corra_compounded_index
0,2020-06-10,0.2289000000,1,1.0000062712,1.0000000000
1,2020-06-11,0.2218000000,1,1.0000060767,1.0000062712
2,2020-06-12,0.2400000000,3,1.0000197260,1.0000123480
3,2020-06-15,0.2200000000,1,1.0000060274,1.0000320743
4,2020-06-16,0.2300000000,1,1.0000063014,1.0000381018
5,2020-06-17,0.2400000000,1,1.0000065753,1.0000444035
6,2020-06-18,0.2300000000,1,1.0000063014,1.0000509791
7,2020-06-19,0.2500000000,3,1.0000205479,1.0000572808
8,2020-06-22,0.2500000000,1,1.0000068493,1.0000778299
9,2020-06-23,0.2500000000,1,1.0000068493,1.0000846798

In [4]:
sofr_df = pd.read_csv('data/SOFRINDEX.csv')
sofr_df["Date"] = pd.to_datetime(sofr_df["DATE"])
sofr_df["sofr_compounded_index"] = pd.to_numeric(sofr_df["SOFRINDEX"].replace('.', np.nan))
sofr_df.drop(columns=['DATE','SOFRINDEX'], inplace=True)

sofr_df

           Date  sofr_compounded_index
0    2018-04-02           1.0000000000
1    2018-04-03           1.0000500000
2    2018-04-04           1.0001008400
3    2018-04-05           1.0001491700
4    2018-04-06           1.0001977900
...         ...                    ...
1727 2024-11-13           1.1677175000
1728 2024-11-14           1.1678663800
1729 2024-11-15           1.1680149600
1730 2024-11-18           1.1684597800
1731 2024-11-19           1.1686081100

[1732 rows x 2 columns]

Now, I will load the SOFR dataset, and see what date it starts from, so that the same starting date can be set for the CORRA Index Calculator. Then I will join the two using date as the primary key.

After confirming that the fist date for which SOFR index is 2018-04-02, I adjusted the CORRA index dataframe to also start from this date.

In [9]:
compounded_table = return_corra_index('2018-04-02', '2024-11-18')

compounded_table

,Date,CORRA Rate (%),corra_n_i,corra_daily_factor,corra_compounded_index
0,2018-04-02,1.3112000000,1,1.0000359233,1.0000000000
1,2018-04-03,1.2828000000,1,1.0000351452,1.0000359233
2,2018-04-04,1.2482000000,1,1.0000341973,1.0000710698
3,2018-04-05,1.2838000000,1,1.0000351726,1.0001052694
4,2018-04-06,1.2056000000,3,1.0000990904,1.0001404458
...,...,...,...,...,...
1650,2024-11-12,3.8000000000,1,1.0001041096,1.1539320261
1651,2024-11-13,3.8000000000,1,1.0001041096,1.1540521615
1652,2024-11-14,3.7900000000,1,1.0001038356,1.1541723094
1653,2024-11-15,3.7900000000,3,1.0003115068,1.1542921536
1654,2024-11-18,3.7900000000,1,1.0001038356,1.1546517235

In [11]:
merged_df = pd.merge(compounded_table, sofr_df, on='Date', how='outer').drop(columns=['CORRA Rate (%)', 'corra_n_i', 'corra_daily_factor'])

After this, I finally add the currency exchange rate data, using an inner join.

In [22]:
usd_cad_fx_df = pd.read_csv('data/DEXCAUS.csv')

usd_cad_fx_df["Date"] = pd.to_datetime(usd_cad_fx_df["DATE"])
usd_cad_fx_df["1USDTOCAD"] = pd.to_numeric(usd_cad_fx_df["DEXCAUS"].replace('.', np.nan))
usd_cad_fx_df.drop(columns=['DATE','DEXCAUS'], inplace=True)

usd_cad_fx_df

            Date    1USDTOCAD
0     1971-01-04 1.0109000000
1     1971-01-05 1.0102000000
2     1971-01-06 1.0106000000
3     1971-01-07 1.0148000000
4     1971-01-08 1.0154000000
...          ...          ...
14050 2024-11-11          NaN
14051 2024-11-12 1.3956000000
14052 2024-11-13 1.3985000000
14053 2024-11-14 1.4025000000
14054 2024-11-15 1.4076000000

[14055 rows x 2 columns]

In [26]:
currency_merged_df = pd.merge(merged_df, usd_cad_fx_df, on='Date', how='inner')

In [27]:
currency_merged_df.head()

        Date  corra_compounded_index  sofr_compounded_index    1USDTOCAD
0 2018-04-02            1.0000000000           1.0000000000 1.2918000000
1 2018-04-03            1.0000359233           1.0000500000 1.2800000000
2 2018-04-04            1.0000710698           1.0001008400 1.2801000000
3 2018-04-05            1.0001052694           1.0001491700 1.2777000000
4 2018-04-06            1.0001404458           1.0001977900 1.2763000000

In [30]:
currency_merged_df.tail()

           Date  corra_compounded_index  sofr_compounded_index    1USDTOCAD
1725 2024-11-11                     NaN                    NaN          NaN
1726 2024-11-12            1.1539320261           1.1675683100 1.3956000000
1727 2024-11-13            1.1540521615           1.1677175000 1.3985000000
1728 2024-11-14            1.1541723094           1.1678663800 1.4025000000
1729 2024-11-15            1.1542921536           1.1680149600 1.4076000000

Now, to check how many of these values are NaN's, and if needed, drop them.

In [32]:
nan_count = currency_merged_df.isnull().sum()
print(nan_count)

Date                       0
corra_compounded_index    76
sofr_compounded_index     73
1USDTOCAD                 75
dtype: int64

In [34]:
currency_merged_df = currency_merged_df.dropna()

nan_count = currency_merged_df.isnull().sum()
print(nan_count)

Date                      0
corra_compounded_index    0
sofr_compounded_index     0
1USDTOCAD                 0
dtype: int64